.award{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 8em 0;

    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    align-items: center;

    .awTop{
        display: flex;
        gap: 2em;
        align-items: center;
    }

    .awBot{
        display: flex;
        gap: 1em;
        align-items: center;
    }

    .contentP{
        font-weight: 300;
        text-align: center;
        line-height: 2em;
        color: rgba($color: #fff, $alpha: 0.5)
    }
}

@media only screen and (max-width: 968px){
    .award{
        flex-direction: column-reverse;
    }
}