.comments {
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  text-align: center;
  justify-content: center;
  gap: 2em;
  padding-bottom: 8em;

  .comHeader {
    h4 {
      color: #555;
      font-size: 1.2em;
      font-weight: 700;
      padding-top: 2em;
      padding-bottom: 1em;
    }

    h2 {
      font-size: 2.5em;
      padding-bottom: 2em;
    }
  }

  .swipeComments {
    padding: 7em 0;
    position: relative;

    #rightClick {
      z-index: 100;
      position: absolute;
      top: 48%;
      right: 32%;
      &:hover {
        cursor: pointer;
      }
    }

    #leftClick {
      position: absolute;
      top: 48%;
      z-index: 100;
      left: 32%;
      &:hover {
        cursor: pointer;
      }
    }
    .swiper-wrapper {
      .swiper-slide {
        max-width: 580px;
        margin: 0 auto;
        display: flex;
        gap: 1em;
        justify-content: center;
        .card {
          position: relative;
          font-weight: 300;
          line-height: 24px;
          background-color: #333;
          max-width: 500px;
          padding: 2em 5em;

          .cardText {
            .comment {
              padding-bottom: 5em;
            }
          }

          .cardHead {
            padding-bottom: 1em;
            img {
              display: block;
              margin: 0 auto;
              padding: 0.5em 0;
            }
          }

          .user {
            font-weight: 400;
            font-size: 1em;
          }

          #quote {
            position: absolute;
            bottom: -22px;
            right: 15px;
          }
        }

        .card1 {
          .comment {
            padding-top: 5em;
            padding-bottom: 7em;
          }

          .user {
            padding-bottom: 5em;
          }
        }
      }
    }
  }

  .comFooter {
    padding-top: 2em;
    .combtn {
      padding: 0.7em 3em;
      border: 1px solid #fff;
      border-radius: 2em;
      background-color: rgba(166, 33, 32, 1);
      font-size: 1em;
      color: #fff;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1480px) {
  .comments {
    .swipeComments {
      #rightClick {
        right: 20%;
      }

      #leftClick {
        left: 20%;
      }
      .swiper-wrapper {
        max-width: 900px;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .comments {
    .swipeComments {
      #rightClick {
        right: 5%;
      }

      #leftClick {
        left: 5%;
      }
      .swiper-wrapper {
        max-width: 600px;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .comments {
    .swipeComments {
      #rightClick {
        top: 87%;
        width: 15%;
        right: 31%;
      }

      #leftClick {
        top: 87%;
        width: 15%;
        left: 31%;
      }
      .swiper-wrapper {
        max-width: 480px;
        margin: 0 auto;
        .swiper-slide {
          max-width: unset;
          margin: unset;
          .card {
            padding: 1.5em 2em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .comments {
    .swipeComments {
      #rightClick {
        top: 87%;
        width: 15%;
      }

      #leftClick {
        top: 87%;
        width: 15%;
      }
      .swiper-wrapper {
        max-width: 310px;
        margin: 0 auto;
        .swiper-slide {
          max-width: unset;
          margin: unset;
          .card {
            padding: 1em 0.4em;
          }
        }
      }
    }
  }
}
