.custome{
    display: flex;
    background-color: #A62120;
    color: #fff;

    .cusLeft{
        flex: 50%;
        img{
            display: block;
            width: 100%;
        }
    }

    .cusRight{
        flex: 50%;
        text-align: center;
        align-self: center;
        .crTxt{
            max-width: 480px;
            margin: 0 auto;
            font-weight: 300;
            line-height: 1.5em;
            text-align: left;

            h2{
                font-size: 2em;
                padding-bottom: 0.5em;
            }
            h3{
                font-size: 1.4em;
                padding-bottom: 1em;
            }
        }
    }
}