.genussnetz{
    background-color: #000;
    text-align: center;

    .geContent{
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20em;
        padding: 5em 0;

        .geTxt{
            text-align: left;
        }
    }
}