.hItems {
  .navBar {
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    background-color: #b50014;
    height: 4em;

    #logo{
      margin-top: 7em;
      z-index: 1;
    }

    .icon{
      display: none;
    }
}

    .nav {
      padding: 2em 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      list-style: none;
      gap: 1em;
      .navItems {
        .navLink {
          text-decoration: none;
          font-size: 16px;
          color: #fff;
          font-weight: 700;
        }

        //custom class for navLink
        .download {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.3em;
          font-size: 14px;
        }
      }
    }
  }

  .workTime {
    background-color: #252525;
    padding: 0.8em 0;
    font-size: 14px;
    color: #fff;
    text-align: right;

    .maxWidth {
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  .hero {
    position: relative;
    img{
      display: block;
      width: 100%;
    }
  }

  .heroText {
    position: absolute;
    top: 30%;
    background-color: rgba(0, 0, 0, 0.3);
    max-width: 650px;
    padding: 3em;
    padding-left: 15em;
    h2 {
      max-width: 280px;
      margin: 0 auto;
      font-size: 2.2em;
      color: #fff;
      text-align: left;
      font-weight: 700;
      line-height: 1.2em;
      padding-bottom: 0.8em;
    }

    p {
      max-width: 280px;
      margin: 0 auto;
      text-align: left;
      font-size: 1em;
      color: #fff;
      font-weight: 300;
      line-height: 1.5em;
    }
  }


  @media screen and (max-width: 1660px){
    .heroText{
      top: 20%;
    }
  }

  @media screen and (max-width: 1385px){
    .heroText{
      top: 25%
    }
  }

  @media screen and (max-width: 1240px){
    .heroText{
      top: 20%;
    }
  }

  @media screen and (max-width: 1100px){
    .heroText{
      position: unset;
      background-color: #000;
      max-width: 100%;
      padding: 0;
    }
  } 


  @media screen and (max-width: 968px){
    .hItems{
      .navBar{
        position: relative;
        .nav{
          display: none;
          position: absolute;
          top: 20%;
          right: 60px;
          z-index: 100;
          background-color: #b50014;
          animation: normal;
        }

        .icon{
          position: absolute;
          right: 50px;
          display: block;
        }
      }
    }
  }




