header {
  background-color: rgb(181, 0, 20);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 99;
}
header .navigation-panel {
  padding: 2em;
}
header .navigation-panel .subcontainer .navbar {
  display: flex;
  justify-content: end;
  gap: 1em;
  align-items: center;
}
header .navigation-panel .subcontainer .navbar .navbarLogo {
  position: absolute;
  left: 15%;
  top: 5%;
  z-index: 2;
}
header .navigation-panel .subcontainer .navbar .navMenu {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  gap: 1em;
  list-style: none;
}
header .navigation-panel .subcontainer .navbar .navMenu .nav-item .nav-link {
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}
header .navigation-panel .subcontainer .navbar .hamburger {
  display: none;
  cursor: pointer;
}
header .navigation-panel .subcontainer .navbar .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3 ease;
  background-color: #fff;
}
header .navigation-panel .subcontainer .navbar .download {
  display: flex;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  margin-right: 1em;
}
header .workTime {
  background-color: #252525;
  padding: 0.8em 0;
  font-size: 14px;
  color: #fff;
  text-align: right;
}
header .workTime .maxWidth {
  max-width: 1200px;
  margin: 0 auto;
}
header .workTime .themeToggle {
  padding: 0.5em;
  margin-left: 0.5em;
  border: 1px solid white;
  background-color: #A62120;
  color: #fff;
  border-radius: 2em;
}
header .workTime .themeToggle:hover {
  cursor: pointer;
  background-color: white;
  color: #A62120;
  border: 1px solid #A62120;
  transition: 1s ease-in-out;
}

@media only screen and (max-width: 1340px) {
  header .navigation-panel .subcontainer .navbar .navbarLogo {
    left: 0;
  }
}
@media only screen and (max-width: 1140px) {
  header .navigation-panel .subcontainer .navbar {
    flex-direction: column;
  }
  header .navigation-panel .subcontainer .navbar .navMenu .nav-item {
    font-size: 0.85em;
  }
}
@media only screen and (max-width: 1100px) {
  header .navigation-panel {
    padding: 1em;
  }
  header .navigation-panel .subcontainer .navbar {
    flex-direction: row;
    justify-content: end;
  }
  header .navigation-panel .subcontainer .navbar .navbarLogo {
    left: 0;
    top: 0;
    width: 15%;
  }
  header .navigation-panel .subcontainer .navbar .hamburger {
    display: block;
  }
  header .navigation-panel .subcontainer .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  header .navigation-panel .subcontainer .navbar .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  header .navigation-panel .subcontainer .navbar .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  header .navigation-panel .subcontainer .navbar .navMenu {
    position: fixed;
    right: -100%;
    top: 100px;
    gap: 0;
    flex-direction: column;
    align-items: center;
    background-color: rgb(181, 0, 20);
    width: 100%;
    height: 60vh;
    transition: 0.3s;
  }
  header .navigation-panel .subcontainer .navbar .navMenu .nav-item {
    margin: 1em 0;
  }
  header .navigation-panel .subcontainer .navbar .navMenu.active {
    right: 0;
  }
}
.hero {
  position: relative;
}
.hero img {
  display: block;
  width: 100%;
}
.hero .heroText {
  z-index: 2;
  position: absolute;
  top: 20%;
  background-color: rgba(0, 0, 0, 0.3);
  max-width: 650px;
  padding: 3em;
  padding-left: 15em;
}
.hero .heroText h2 {
  max-width: 280px;
  margin: 0 auto;
  font-size: 2.2em;
  color: #fff;
  text-align: left;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 0.8em;
}
.hero .heroText p {
  max-width: 280px;
  margin: 0 auto;
  text-align: left;
  font-size: 1em;
  color: #fff;
  font-weight: 300;
  line-height: 1.5em;
}

@media only screen and (max-width: 1330px) {
  .hero .heroText {
    top: 25%;
    padding: 2em;
    padding-left: 15em;
  }
  .hero .heroText h2 {
    font-size: 1.8em;
  }
  .hero .heroText p {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 1100px) {
  .hero {
    background-color: black;
  }
  .hero .heroText {
    position: unset;
    max-width: unset;
    padding-left: unset;
    padding: 0.5em;
    background-color: black;
  }
  .hero .heroText h2 {
    text-align: center;
    font-size: 2em;
    max-width: unset;
    padding-bottom: unset;
  }
  .hero .heroText p {
    padding: 1em 2em;
    text-align: center;
    font-size: 1em;
    max-width: unset;
  }
}
.dryAged {
  padding: 5em 0;
  background-color: #000;
  color: #fff;
  display: flex;
}
.dryAged .daLeft {
  flex: 50%;
  text-align: left;
  align-self: center;
  align-items: flex-end;
}
.dryAged .daLeft .daTxt {
  display: flex;
  flex-direction: column;
  gap: 3em;
  max-width: 480px;
  margin: auto;
  line-height: 1.5em;
  font-weight: 300;
}
.dryAged .daLeft .daTxt .daTxTop h2 {
  font-size: 2em;
  padding-bottom: 0.2em;
  font-weight: 700;
}
.dryAged .daLeft .daTxt .daTxTop h4 {
  font-size: 1.4em;
  font-weight: 700;
}
.dryAged .daLeft .daTxt .daButtons {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: flex-start;
}
.dryAged .daLeft .daTxt .daButtons .drybtn {
  background-color: rgb(166, 33, 32);
  border: 1px solid #fff;
  border-radius: 2em;
  padding: 0.7em 3em;
  font-size: 1em;
  text-align: center;
  color: #fff;
  font-weight: 400;
}
.dryAged .daRight {
  flex: 50%;
}
.dryAged .daRight .daIMG {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 1.1em;
}
.dryAged .daRight .daIMG .botIMG {
  display: flex;
  justify-content: start;
  gap: 1.1em;
}

@media only screen and (max-width: 1100px) {
  .dryAged {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0;
    padding-bottom: 5em;
  }
  .dryAged .daLeft {
    padding-top: 2em;
    text-align: center;
  }
  .dryAged .daLeft .daButtons {
    justify-content: center;
  }
}
@media only screen and (max-width: 600px) {
  .dryAged {
    align-items: center;
    justify-content: center;
  }
  .dryAged .daTxt {
    padding: 1em;
    font-size: 0.9em;
  }
  .dryAged .daRight {
    padding-top: 1em;
  }
  .dryAged .daRight .daIMG {
    text-align: center;
    align-items: center;
  }
  .dryAged .daRight .daIMG img {
    width: 70%;
  }
  .dryAged .daRight .daIMG .botIMG {
    width: 70%;
  }
}
@media only screen and (max-width: 375px) {
  .daTxt {
    padding: 1em;
    font-size: 0.7em;
  }
  .daButtons {
    font-size: 0.9em;
  }
}
.grillkurs {
  display: flex;
  background-color: #A62120;
}
.grillkurs .grillleft {
  color: #fff;
  flex: 1;
  align-self: center;
  text-align: center;
}
.grillkurs .grillleft .glTxt {
  max-width: 250px;
  margin: 0 auto;
  text-align: start;
}
.grillkurs .grillleft .glTxt h2 {
  font-size: 2em;
  padding-bottom: 1em;
  line-height: 1.5em;
}
.grillkurs .grillleft .glTxt ul li {
  font-size: 4px;
  line-height: 9em;
}
.grillkurs .grillleft .glTxt ul li .lItem {
  font-size: 4em;
  padding-left: 0.2em;
  font-weight: 300;
}
.grillkurs .grillleft .glTxt .grillbtn {
  border: 1px solid #FF0000;
  border-radius: 2em;
  padding: 0.7em 3em;
  margin-top: 2em;
  font-size: 1em;
  background-color: #fff;
  color: #000;
}
.grillkurs .grillright {
  flex: 1;
  justify-content: flex-end;
}
.grillkurs .grillright img {
  display: block;
  width: 100%;
}

@media only screen and (max-width: 1100px) {
  .grillkurs {
    flex-direction: column;
    padding-top: 3em;
  }
  .grillkurs .grillleft {
    padding-bottom: 3em;
  }
}
@media only screen and (max-width: 600px) {
  .grillleft {
    align-self: center;
    text-align: center;
  }
  .grillleft .glTxt {
    text-align: center !important;
  }
  .grillleft .glTxt h2 {
    font-size: 1.5em !important;
  }
  .grillleft .glTxt ul li .lItem {
    font-size: 3.5em;
  }
}
.dh {
  text-align: center;
  color: #fff;
  background-color: #000;
  padding-top: 6em;
}
.dh .top h2 {
  font-size: 2em;
  font-weight: 700;
}
.dh .top h4 {
  font-size: 1.5em;
  font-weight: 700;
  padding-bottom: 2em;
}
.dh .top .topText {
  text-align: center;
  max-width: 768px;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.8em;
  padding: 3em;
}
.dh .top .topText .dhbtn {
  font-size: 1em;
  padding: 0.7em 3em;
  background-color: rgb(166, 33, 32);
  color: #fff;
  border: 1px solid white;
  border-radius: 2em;
  margin-top: 2em;
}
.dh .mid {
  padding: 5em 0 3em 0;
}
.dh .bot {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1em;
  padding-bottom: 16em;
}
.dh .bot .g1 {
  display: flex;
  gap: 1em;
}
.dh .bot .g2 {
  display: flex;
  gap: 1em;
}

@media only screen and (max-width: 1150px) {
  .dh .bot {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) {
  .dh .top h4 {
    font-size: 1em;
    padding: 0 3em 2em 3em;
  }
  .dh .top .topText {
    font-size: 0.9em;
    padding: 0 1em;
  }
  .dh .bot {
    padding-bottom: 8em;
  }
  .dh .bot .g1 {
    justify-content: center;
  }
  .dh .bot .g1 img {
    width: 45%;
  }
  .dh .bot .g2 {
    justify-content: center;
  }
  .dh .bot .g2 img {
    width: 45%;
  }
}
.custome {
  display: flex;
  background-color: #A62120;
  color: #fff;
}
.custome .cusLeft {
  flex: 50%;
}
.custome .cusLeft img {
  display: block;
  width: 100%;
}
.custome .cusRight {
  flex: 50%;
  align-self: center;
}
.custome .cusRight .crTxt {
  max-width: 480px;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.5em;
  text-align: left;
}
.custome .cusRight .crTxt h2 {
  font-size: 2em;
  padding-bottom: 0.5em;
}
.custome .cusRight .crTxt h3 {
  font-size: 1.4em;
  padding-bottom: 1em;
}

@media only screen and (max-width: 1200px) {
  .cusRight .crTxt {
    font-size: 0.9em;
    padding: 1em;
  }
}
@media only screen and (max-width: 1100px) {
  .custome {
    flex-direction: column-reverse;
  }
  .custome .cusRight {
    padding: 2em 0;
  }
  .custome .cusRight .crTxt {
    text-align: center;
  }
  .custome .cusRight .crTxt h2 {
    line-height: 1.5em;
    padding-bottom: 1em;
  }
  .custome .cusRight .crTxt h3 {
    line-height: 1.5em;
    padding: 1em 2em;
  }
}
@media only screen and (max-width: 375px) {
  .custome {
    flex-direction: column-reverse;
  }
  .custome .cusRight {
    padding: 2em 0;
  }
  .custome .cusRight .crTxt {
    text-align: center;
  }
  .custome .cusRight .crTxt h2 {
    line-height: 1.5em;
    font-size: 2em;
  }
}
.fleischversand {
  height: 50vh;
  background-image: url(../img/meat.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}
.fleischversand h2 {
  font-size: 2em;
  padding-bottom: 1em;
  font-weight: 700;
  color: #fff;
}
.fleischversand .flbtn {
  font-size: 1em;
  padding: 0.7em 3em;
  background-color: #fff;
  color: #000;
  border: 1px solid #FF0000;
  border-radius: 2em;
  max-width: 375px;
  margin: 0 auto;
}

@media only screen and (max-width: 1100px) {
  .fleischversand {
    background-position: center;
  }
}
.genussnetz {
  background-color: #000;
  text-align: center;
  padding: 7em 0;
}
.genussnetz .geContent {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20em;
}
.genussnetz .geContent .geTxt {
  text-align: left;
}
.genussnetz .geContent .geTxt h2 {
  font-size: 2em;
  line-height: 42px;
  padding-bottom: 1em;
}
.genussnetz .geContent .geTxt .gebtn {
  padding: 0.7em 2.5em;
  border: 1px solid #fff;
  border-radius: 2em;
  background-color: rgb(166, 33, 32);
  font-size: 1em;
  font-weight: 400;
  color: #fff;
}

@media only screen and (max-width: 1100px) {
  .genussnetz .geContent {
    flex-direction: column;
    gap: 10em;
  }
  .genussnetz .geContent .geTxt {
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .genussnetz .geContent .geTxt h2 {
    font-size: 1.8em;
  }
  .genussnetz .geContent .geLogo img {
    width: 90%;
  }
}
.award {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 8em 0;
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
  align-items: center;
}
.award .awTop {
  display: flex;
  gap: 2em;
  align-items: center;
}
.award .awBot {
  display: flex;
  gap: 1em;
  align-items: center;
}
.award .contentP {
  font-weight: 300;
  text-align: center;
  line-height: 2em;
  color: rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 968px) {
  .award {
    flex-direction: column-reverse;
  }
}
.comments {
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  text-align: center;
  justify-content: center;
  gap: 2em;
  padding-bottom: 8em;
}
.comments .comHeader h4 {
  color: #555;
  font-size: 1.2em;
  font-weight: 700;
  padding-top: 2em;
  padding-bottom: 1em;
}
.comments .comHeader h2 {
  font-size: 2.5em;
  padding-bottom: 2em;
}
.comments .swipeComments {
  padding: 7em 0;
  position: relative;
}
.comments .swipeComments #rightClick {
  z-index: 100;
  position: absolute;
  top: 48%;
  right: 31%;
}
.comments .swipeComments #rightClick:hover {
  cursor: pointer;
}
.comments .swipeComments #leftClick {
  position: absolute;
  top: 48%;
  z-index: 100;
  left: 31%;
}
.comments .swipeComments #leftClick:hover {
  cursor: pointer;
}
.comments .swipeComments .swiper-wrapper .swiper-slide {
  max-width: 580px;
  margin: 0 auto;
  display: flex;
  gap: 1em;
  justify-content: center;
}
.comments .swipeComments .swiper-wrapper .swiper-slide .card {
  position: relative;
  font-weight: 300;
  line-height: 24px;
  background-color: #333;
  max-width: 500px;
  padding: 2em 5em;
}
.comments .swipeComments .swiper-wrapper .swiper-slide .card .cardText .comment {
  padding-bottom: 5em;
}
.comments .swipeComments .swiper-wrapper .swiper-slide .card .cardHead {
  padding-bottom: 1em;
}
.comments .swipeComments .swiper-wrapper .swiper-slide .card .cardHead img {
  display: block;
  margin: 0 auto;
  padding: 0.5em 0;
}
.comments .swipeComments .swiper-wrapper .swiper-slide .card .user {
  font-weight: 400;
  font-size: 1em;
}
.comments .swipeComments .swiper-wrapper .swiper-slide .card #quote {
  position: absolute;
  bottom: -22px;
  right: 15px;
}
.comments .swipeComments .swiper-wrapper .swiper-slide .card1 .comment {
  padding-top: 5em;
  padding-bottom: 7em;
}
.comments .swipeComments .swiper-wrapper .swiper-slide .card1 .user {
  padding-bottom: 5em;
}
.comments .comFooter {
  padding-top: 2em;
}
.comments .comFooter .combtn {
  padding: 0.7em 3em;
  border: 1px solid #fff;
  border-radius: 2em;
  background-color: rgb(166, 33, 32);
  font-size: 1em;
  color: #fff;
}
.comments .comFooter .combtn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1480px) {
  .comments .swipeComments #rightClick {
    right: 20%;
  }
  .comments .swipeComments #leftClick {
    left: 20%;
  }
  .comments .swipeComments .swiper-wrapper {
    max-width: 900px;
  }
}
@media only screen and (max-width: 1100px) {
  .comments .swipeComments #rightClick {
    right: 5%;
  }
  .comments .swipeComments #leftClick {
    left: 5%;
  }
  .comments .swipeComments .swiper-wrapper {
    max-width: 600px;
  }
}
@media only screen and (max-width: 700px) {
  .comments .swipeComments #rightClick {
    top: 87%;
    width: 15%;
    right: 31%;
  }
  .comments .swipeComments #leftClick {
    top: 87%;
    width: 15%;
    left: 31%;
  }
  .comments .swipeComments .swiper-wrapper {
    max-width: 480px;
    margin: 0 auto;
  }
  .comments .swipeComments .swiper-wrapper .swiper-slide {
    max-width: unset;
    margin: unset;
  }
  .comments .swipeComments .swiper-wrapper .swiper-slide .card {
    padding: 1.5em 2em;
  }
}
@media only screen and (max-width: 500px) {
  .comments .swipeComments #rightClick {
    top: 87%;
    width: 15%;
  }
  .comments .swipeComments #leftClick {
    top: 87%;
    width: 15%;
  }
  .comments .swipeComments .swiper-wrapper {
    max-width: 310px;
    margin: 0 auto;
  }
  .comments .swipeComments .swiper-wrapper .swiper-slide {
    max-width: unset;
    margin: unset;
  }
  .comments .swipeComments .swiper-wrapper .swiper-slide .card {
    padding: 1em 0.4em;
  }
}
footer {
  background-color: #B50014;
}
footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .container .contact {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}
footer .container .contact .location {
  display: flex;
  gap: 0.3em;
  align-items: start;
  color: #fff;
}
footer .container .contact .displayProop {
  display: flex;
  gap: 0.3em;
  align-items: center;
  color: #fff;
}
footer .container .social {
  display: flex;
  gap: 0.7em;
  align-items: center;
}
footer .container .social .socialP {
  font-size: 1em;
  color: #fff;
}
footer .container .social .socialIcons {
  display: flex;
  gap: 0.5em;
}
footer .dimmedtrack {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  padding: 0.5em 0;
}
footer .dimmedtrack .studioPresent {
  font-style: italic;
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.7);
}

@media only screen and (max-width: 968px) {
  footer .container {
    flex-direction: column;
    gap: 5em;
  }
  footer .container .contact {
    padding-top: 2em;
    align-items: center;
  }
  footer .container .contact .location {
    text-align: center;
  }
  footer .container .contact img {
    display: none;
  }
  footer .container .social {
    flex-direction: column;
    padding-bottom: 1.5em;
  }
  footer .dimmedtrack {
    flex-direction: column;
    align-items: center;
    gap: 3em;
    padding: 3em 0;
  }
}
.swiper-pagination {
  padding-bottom: 1em !important;
}

.swiper-pagination-bullet {
  width: 0.9em !important;
  height: 0.9em !important;
  background-color: #fff !important;
}

.swiper-pagination-bullet-active {
  background-color: red !important;
  border: 2px solid white !important;
}

.swiper-button-next {
  top: 94% !important;
  right: 44% !important;
  --swiper-navigation-size: 20px;
  --swiper-theme-color: #fff;
  border: 2px solid white;
  border-radius: 50%;
  padding: 1em;
}

.swiper-button-prev {
  top: 94% !important;
  left: 44% !important;
  --swiper-navigation-size: 20px;
  --swiper-theme-color: #fff;
  border: 2px solid white;
  border-radius: 50%;
  padding: 1em;
}

@media only screen and (max-width: 1100px) {
  .swiper-button-next {
    display: none !important;
  }
  .swiper-button-prev {
    display: none !important;
  }
  .swiper-pagination-bullet {
    display: none !important;
  }
}
.swiper-slide-shadow-left {
  background-image: none !important;
}

.swiper-slide-shadow-right {
  background-image: none !important;
}

@media (max-width: 1100px) {
  .lightMode .hero {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .lightMode .hero .heroText {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .lightMode .hero .heroText h2, .lightMode .hero .heroText p {
    color: #A62120;
  }
}
.lightMode .dryAged {
  background-color: rgba(0, 0, 0, 0.2);
  color: #A62120;
}
.lightMode .dryAged .daLeft .daButtons .drybtn {
  background-color: #fff;
  color: #A62120;
  border: 1px solid #A62120;
}
.lightMode .grillkurs {
  background-color: rgba(0, 0, 0, 0.3);
}
.lightMode .grillkurs .grillleft .glTxt {
  color: #A62120;
}
.lightMode .grillkurs .grillleft .glTxt .grillbtn {
  background-color: #fff;
  color: #A62120;
  border: 1px solid #A62120;
}
.lightMode .dh {
  background-color: rgba(0, 0, 0, 0.2);
  color: #A62120;
}
.lightMode .dh .topText .dhbtn {
  background-color: #fff;
  color: #A62120;
  border: 1px solid #A62120;
}
.lightMode .custome {
  background-color: rgba(0, 0, 0, 0.3);
}
.lightMode .custome .cusRight {
  color: #A62120;
}
.lightMode .genussnetz {
  background-color: rgba(0, 0, 0, 0.2);
}
.lightMode .genussnetz .geTxt h2 {
  color: #A62120;
}
.lightMode .genussnetz .geTxt .gebtn {
  background-color: #fff;
  color: #A62120;
  border: 1px solid #A62120;
}
.lightMode .break {
  background-color: rgba(0, 0, 0, 0.2);
}
.lightMode .award {
  background-color: rgba(0, 0, 0, 0.2);
}
.lightMode .award h2, .lightMode .award p {
  color: #A62120;
}
.lightMode .comments {
  background-color: rgba(0, 0, 0, 0.2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
* html {
  scroll-behavior: smooth;
}

.cont {
  max-width: 1320px;
  margin: 0 auto;
}

.vonal {
  width: 80%;
}

.break {
  text-align: center;
  background-color: black;
}
.break img {
  width: 80%;
}/*# sourceMappingURL=style.css.map */