.hItems .navBar {
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
  background-color: #b50014;
  height: 4em;
}
.hItems .navBar #logo {
  margin-top: 7em;
  z-index: 1;
}
.hItems .navBar .nav {
  padding: 2em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1em;
}
.hItems .navBar .nav .navItems .navLink {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}
.hItems .navBar .nav .navItems .download {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
  font-size: 14px;
}
.hItems .workTime {
  background-color: #252525;
  padding: 0.8em 0;
  font-size: 14px;
  color: #fff;
  text-align: right;
}
.hItems .workTime .maxWidth {
  max-width: 1200px;
  margin: 0 auto;
}
.hItems .hero {
  position: relative;
}
.hItems .hero img {
  display: block;
  width: 100%;
}
.hItems .hero .heroText {
  position: absolute;
  top: 30%;
  background-color: rgba(0, 0, 0, 0.3);
  max-width: 650px;
  padding: 3em;
  padding-left: 15em;
}
.hItems .hero .heroText h2 {
  max-width: 280px;
  margin: 0 auto;
  font-size: 2.2em;
  color: #fff;
  text-align: left;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 0.8em;
}
.hItems .hero .heroText p {
  max-width: 280px;
  margin: 0 auto;
  text-align: left;
  font-size: 1em;
  color: #fff;
  font-weight: 300;
  line-height: 1.5em;
}

.dryAged {
  padding: 5em 0;
  background-color: #000;
  color: #fff;
  display: flex;
}
.dryAged .daLeft {
  flex: 50%;
  text-align: left;
  align-self: center;
  align-items: flex-end;
}
.dryAged .daLeft .daTxt {
  display: flex;
  flex-direction: column;
  gap: 3em;
  max-width: 480px;
  margin: auto;
  line-height: 1.5em;
  font-weight: 300;
}
.dryAged .daLeft .daTxt .daTxTop h2 {
  font-size: 2em;
  padding-bottom: 0.2em;
  font-weight: 700;
}
.dryAged .daLeft .daTxt .daTxTop h4 {
  font-size: 1.4em;
  font-weight: 700;
}
.dryAged .daLeft .daTxt .daButtons {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: flex-start;
}
.dryAged .daLeft .daTxt .daButtons .drybtn {
  background-color: rgb(166, 33, 32);
  border: 1px solid #fff;
  border-radius: 2em;
  padding: 0.7em 3em;
  font-size: 1em;
  text-align: center;
  color: #fff;
  font-weight: 400;
}
.dryAged .daRight {
  flex: 50%;
}
.dryAged .daRight .daIMG {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 1.1em;
}
.dryAged .daRight .daIMG .botIMG {
  display: flex;
  justify-content: start;
  gap: 1.1em;
}

.grillkurs {
  display: flex;
  background-color: #A62120;
}
.grillkurs .grillleft {
  color: #fff;
  flex: 1;
  align-self: center;
  text-align: center;
}
.grillkurs .grillleft .glTxt {
  max-width: 250px;
  margin: 0 auto;
  text-align: start;
}
.grillkurs .grillleft .glTxt h2 {
  font-size: 2em;
  padding-bottom: 1em;
  line-height: 1.5em;
}
.grillkurs .grillleft .glTxt ul li {
  font-size: 4px;
  line-height: 9em;
}
.grillkurs .grillleft .glTxt ul li .lItem {
  font-size: 4em;
  padding-left: 0.2em;
  font-weight: 300;
}
.grillkurs .grillleft .glTxt .grillbtn {
  border: 1px solid #FF0000;
  border-radius: 2em;
  padding: 0.7em 3em;
  margin-top: 2em;
  font-size: 1em;
  background-color: #fff;
  color: #000;
}
.grillkurs .grillright {
  flex: 1;
  justify-content: flex-end;
}
.grillkurs .grillright img {
  display: block;
  width: 100%;
}

.dh {
  text-align: center;
  color: #fff;
  background-color: #000;
  padding-top: 6em;
}
.dh .top h2 {
  font-size: 2em;
  font-weight: 700;
}
.dh .top h4 {
  font-size: 1.5em;
  font-weight: 700;
  padding-bottom: 2em;
}
.dh .top .topText {
  text-align: center;
  max-width: 768px;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.8em;
}
.dh .top .topText .dhbtn {
  font-size: 1em;
  padding: 0.7em 3em;
  background-color: rgb(166, 33, 32);
  color: #fff;
  border: 1px solid white;
  border-radius: 2em;
  margin-top: 2em;
}
.dh .mid {
  padding: 5em 0 3em 0;
}
.dh .bot {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1em;
  padding-bottom: 16em;
}

.custome {
  display: flex;
  background-color: #A62120;
  color: #fff;
}
.custome .cusLeft {
  flex: 50%;
}
.custome .cusLeft img {
  display: block;
  width: 100%;
}
.custome .cusRight {
  flex: 50%;
  text-align: center;
  align-self: center;
}
.custome .cusRight .crTxt {
  max-width: 480px;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.5em;
  text-align: left;
}
.custome .cusRight .crTxt h2 {
  font-size: 2em;
  padding-bottom: 0.5em;
}
.custome .cusRight .crTxt h3 {
  font-size: 1.4em;
  padding-bottom: 1em;
}

.fleischversand {
  height: 50vh;
  background-image: url("../img/krmetina.png");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.fleischversand h2 {
  font-size: 2em;
  padding-bottom: 1em;
  font-weight: 700;
  color: #fff;
}
.fleischversand .flbtn {
  font-size: 1em;
  padding: 0.7em 3em;
  background-color: #fff;
  color: #000;
  border: 1px solid #FF0000;
  border-radius: 2em;
  max-width: 375px;
  margin: 0 auto;
}

.genussnetz {
  background-color: #000;
  text-align: center;
}
.genussnetz .geContent {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20em;
  padding: 5em 0;
}
.genussnetz .geContent .geTxt {
  text-align: left;
}

footer {
  background-color: #B50014;
}
footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .container .contact {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}
footer .container .contact .location {
  display: flex;
  gap: 0.3em;
  align-items: start;
  color: #fff;
}
footer .container .contact .displayProop {
  display: flex;
  gap: 0.3em;
  align-items: center;
  color: #fff;
}
footer .container .social {
  display: flex;
  gap: 0.7em;
  align-items: center;
}
footer .container .social .socialP {
  font-size: 1em;
  color: #fff;
}
footer .container .social .socialIcons {
  display: flex;
  gap: 0.5em;
}
footer .dimmedtrack {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  padding: 0.5em 0;
}
footer .dimmedtrack .studioPresent {
  font-style: italic;
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.7);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
* html {
  scroll-behavior: smooth;
}

.cont {
  max-width: 1320px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */