.hItems {
  position: relative;
}
.hItems .navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #B50014;
}
.hItems .navBar .nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1em;
}
.hItems .navBar .nav .navItems .navLink {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}
.hItems .navBar .nav .navItems .download {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
}
.hItems .workTime {
  background-color: #252525;
  padding: 0.8em 0;
  font-size: 14px;
  color: #fff;
  text-align: right;
}
.hItems .workTime .maxWidth {
  max-width: 1200px;
  margin: 0 auto;
}
.hItems .hero {
  background-image: url("../img/headerIMG.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50vh;
}
.hItems .hero .heroText {
  position: relative;
  top: 40%;
  background-color: rgba(0, 0, 0, 0.3);
  max-width: 650px;
  padding: 2em;
}
.hItems .hero .heroText h2 {
  font-size: 2em;
  color: #fff;
}
.hItems .hero .heroText p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
  text-align: right;
}

.dryAged {
  background-color: black;
  color: white;
  padding: 4em 0;
}
.dryAged .dAWrap {
  display: flex;
  gap: 8em;
}
.dryAged .dAWrap .dAleft .head {
  padding-bottom: 2em;
}
.dryAged .dAWrap .dAleft .head h2 {
  font-size: 2em;
  font-weight: 700;
}
.dryAged .dAWrap .dAleft .head #headP {
  font-size: 1.5em;
  font-weight: 700;
}
.dryAged .dAWrap .dAleft #wrapDesc {
  max-width: 450px;
  margin: 0 auto;
  line-height: 1.7em;
  font-weight: 300;
  padding-bottom: 2em;
}
.dryAged .dAWrap .dAleft .drybtn {
  font-size: 1em;
  padding: 0.7em 3em;
  background-color: rgb(166, 33, 32);
  color: #fff;
  border: 1px solid white;
  border-radius: 2em;
}
.dryAged .dAWrap .dAright img {
  padding: 0.5em;
}

.grillkurs {
  background-color: rgb(166, 33, 32);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
* html {
  scroll-behavior: smooth;
}

.cont {
  max-width: 1320px;
  margin: 0 auto;
}